name: Docker build

on: 
  push:
  pull_request:

jobs:
  docker-build:
    # we are using ubuntu as it ships with docker pre-installed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Our Dockerfile runs all of our Go Tests
      - name: Build and Test Docker Image
        run: docker build --tag pld-local .